.scene {
  perspective: 600px;
  height: 110px;
  width: 110px;
  display: inline-block;
}

.card {
  height: 100%;
  width: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
  border: 3px solid #aebdf8;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card.matched {
  border: 3px solid green;
}

.cardFace {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background-color: #aebdf8;
}

.back {
  transform: rotateY(180deg);
}